pipeline/demopipeline_watermark.json
{
	"name": "demopipeline_watermark",
	"properties": {
		"activities": [
			{
				"name": "LookupSQLwatermarkTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(watermarkvalue) as oldwatermarkvalue from [dbo].[watermarktable] where tablename='demotable'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermartable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NewlookupwatermarkTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(lastmodifytime) as newwatermarkvalue from [dbo].[demotable]\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupSQLwatermarkTable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NewlookupwatermarkTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [dbo].[demotable] where lastmodifytime > '@activity('LookupSQLwatermarkTable').output.firstRow.oldwatermarkvalue' and \nlastmodifytime<='@activity('NewlookupwatermarkTable').output.firstRow.newwatermarkvalue'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "demotabletxt",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "update watermark table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermarktable]",
					"storedProcedureParameters": {
						"lastmodifytime": {
							"value": {
								"value": "@activity('NewlookupwatermarkTable').output.firstRow.newwatermarkvalue'",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"tablename": {
							"value": "demotable",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-09-10T18:38:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}